.hero-image {
  width: 100%;
  margin: 15px 0;
}

.home-card {
  background-color: #f3f4f6;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;

}

.subheading {
  text-align: center;
  font-size: 3rem;
  color: black;
  padding: 0;
  margin: 0;
}

.mission-body {
  text-align: center;
  font-size: 32px;
  color: #9ca3af;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 768px) {}
