html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
